{{ with site.Params.social_links.dribbble }}
<a href="https://dribbble.com/{{ . }}"><i class="svg-icon dribbble"></i></a>
{{ end }}

{{ with site.Params.social_links.email }}
<a href="mailto:{{ . }}"><i class="svg-icon email"></i></a>
{{ end }}

{{ with site.Params.social_links.facebook }}
<a href="https://www.facebook.com/{{ . }}"><i class="svg-icon facebook"></i></a>
{{ end }}

{{ with site.Params.social_links.flickr }}
<a href="https://www.flickr.com/{{ . }}"><i class="svg-icon flickr"></i></a>
{{ end }}

{{ with site.Params.social_links.github }}
<a href="https://github.com/{{ . }}"><i class="svg-icon github"></i></a>
{{ end }}

{{ with site.Params.social_links.instagram }}
<a href="https://instagram.com/{{ . }}"><i class="svg-icon instagram"></i></a>
{{ end }}

{{ with site.Params.social_links.linkedin }}
<a href="https://www.linkedin.com/in/{{ . }}"><i class="svg-icon linkedin"></i></a>
{{ end }}

{{ with site.Params.social_links.pinterest }}
<a href="https://www.pinterest.com/{{ . }}"><i class="svg-icon pinterest"></i></a>
{{ end }}

{{ with site.Params.social_links.rss }}
<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a>
{{ end }}

{{ with site.Params.social_links.twitter }}
<a href="https://www.twitter.com/{{ . }}"><i class="svg-icon twitter"></i></a>
{{ end }}

{{ with site.Params.social_links.stackoverflow }}
<a href="http://stackoverflow.com/{{ . }}"><i class="svg-icon stackoverflow"></i></a>
{{ end }}

{{ with site.Params.social_links.youtube }}
<a href="https://youtube.com/{{ . }}"><i class="svg-icon youtube"></i></a>
{{ end }}

{{ with site.Params.social_links.googleplus }}
<a href="https://plus.google.com/{{ . }}"><i class="svg-icon googleplus"></i></a>
{{ end }}
