<section class="banner-wrap">
    <div class="banner">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img sizes="(max-width: 1000px) 100vw, 1000px" srcset="
                        slide1-alt_mksa3y_c_scale,w_200.jpg 200w,
                        slide1-alt_mksa3y_c_scale,w_542.jpg 542w,
                        slide1-alt_mksa3y_c_scale,w_774.jpg 774w,
                        slide1-alt_mksa3y_c_scale,w_967.jpg 967w,
                        slide1-alt_mksa3y_c_scale,w_1000.jpg 1000w" src="/images/slider/slide1-alt_mksa3y/slide1-alt_mksa3y_c_scale,w_1000.jpg" alt="Dorfladen" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption mediumlarge_light_white_center domainate customin customout start" data-x="0" data-hoffset="0" data-y="214" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="500" data-easing="Back.easeInOut" data-endspeed="300">Einkaufen im Dorf</div>

                    </li>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img sizes="(max-width: 1000px) 100vw, 1000px" srcset="
                        slide4_jmmtwv_c_scale,w_200.jpg 200w,
                        slide4_jmmtwv_c_scale,w_396.jpg 396w,
                        slide4_jmmtwv_c_scale,w_540.jpg 540w,
                        slide4_jmmtwv_c_scale,w_653.jpg 653w,
                        slide4_jmmtwv_c_scale,w_762.jpg 762w,
                        slide4_jmmtwv_c_scale,w_862.jpg 862w,
                        slide4_jmmtwv_c_scale,w_956.jpg 956w,
                        slide4_jmmtwv_c_scale,w_1000.jpg 1000w" src="/images/slider/slide4_jmmtwv/slide4_jmmtwv_c_scale,w_1000.jpg" alt="Dorfladen" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption mediumlarge_light_white_center invest start" data-x="543" data-hoffset="0" data-y="160" data-speed="1000" data-start="500" data-easing="Back.easeInQuart" data-endspeed="300">Tante Emma 2.0</div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption move mediumlarge_light_white_center fade" data-x="480" data-y="230" data-speed="500" data-start="800" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6; letter-spacing: -3px;">Einkaufen</div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption dark_brown mediumlarge_light_white_center skewfromright " data-x="735" data-y="230" data-speed="800" data-start="1900" data-easing="Elastic.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6; left:186px;">Reden</div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption faster mediumlarge_light_white_center skewfromright" data-x="960" data-y="230" data-speed="800" data-start="2600" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">Treffen</div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption brown_line skewfromright" data-x="482" data-y="261" data-speed="800" data-start="2600" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><img src="/images/brown_line.jpg" alt="underline"> </div>
                    </li>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img sizes="(max-width: 1000px) 100vw, 1000px" srcset="
                        slide3_i6dtl6_c_scale,w_200.jpg 200w,
                        slide3_i6dtl6_c_scale,w_444.jpg 444w,
                        slide3_i6dtl6_c_scale,w_613.jpg 613w,
                        slide3_i6dtl6_c_scale,w_747.jpg 747w,
                        slide3_i6dtl6_c_scale,w_873.jpg 873w,
                        slide3_i6dtl6_c_scale,w_987.jpg 987w,
                        slide3_i6dtl6_c_scale,w_1000.jpg 1000w" src="/images/slider/slide3_i6dtl6/slide3_i6dtl6_c_scale,w_1000.jpg" alt="Dorfladen" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption big_white fade" data-x="40" data-y="560" data-speed="500" data-start="800" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6;">Lassen Sie sich überraschen</div>
                    </li>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img sizes="(max-width: 1000px) 100vw, 1000px" srcset="
                        slide2_xctxzo_c_scale,w_200.jpg 200w,
                        slide2_xctxzo_c_scale,w_346.jpg 346w,
                        slide2_xctxzo_c_scale,w_456.jpg 456w,
                        slide2_xctxzo_c_scale,w_552.jpg 552w,
                        slide2_xctxzo_c_scale,w_634.jpg 634w,
                        slide2_xctxzo_c_scale,w_710.jpg 710w,
                        slide2_xctxzo_c_scale,w_787.jpg 787w,
                        slide2_xctxzo_c_scale,w_857.jpg 857w,
                        slide2_xctxzo_c_scale,w_918.jpg 918w,
                        slide2_xctxzo_c_scale,w_978.jpg 978w,
                        slide2_xctxzo_c_scale,w_1000.jpg 1000w" src="/images/slider/slide2_xctxzo/slide2_xctxzo_c_scale,w_1000.jpg" alt="Dorfladen" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption customin customout start big_white" data-x="500" data-hoffset="0" data-y="235" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="500" data-easing="Back.easeInOut" data-endspeed="300">Wir sind da!</div>

                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            var revapi;

            jQuery(document).ready(function () {

                revapi = jQuery('.tp-banner').revolution({
                    delay: 4000,
                    startwidth: 1170,
                    startheight: 645,
                    hideThumbs: 10,
                    fullWidth: "off",
                    fullScreen: "off",
                    fullScreenOffsetContainer: "",
                    hideTimerBar: "on",
                    navigationType: "none",
                    stopAtSlide: 1

                });

            }); //ready
        </script>

        <!-- END REVOLUTION SLIDER -->

        <!-- Content End -->

    </div>
</section>
