<!-- Section UG -->
<section class="content">
    <div class="container">

        <!-- Gesellschafter -->
        <h4>Die Hauptgesellschafter</h2>
        <p>Hubert Hennig</p>
        <p>Jürgen Kirk</p>
        <p>Christina Opitz</p>
        <br>

        <!-- Geschäftsführer -->
        <h4>Die Geschäftsführer</h2>
        <p>Angelika Stolp</p>

        <strong>Die Geschäftsführer sind ehrenamtlich tätig</strong>
        <br>
        <br>

        <!-- Beirat -->
        <h4>Der Beirat</h2>
        <p>Hubert Hennig</p>
        <p>Eva Ehlers</p>
        <p>Andrea Knauer</p>
        <p>Christina Opitz</p>
        <p>Friedhelm Kruse</p>
        <p>Jürgen Kirk</p>
        <p>Kurt Schriegel</p>
        <br>

        <!-- Text Impressum -->
        <h4>Unternehmergesellschaft Dorfladen Grohnde (UG) haftungsbeschränkt</h2>
        <p>
            Als Rechtsform wurde die Unternehmergesellschaft UG haftungsbeschränkt gewählt. Um eine breite Identifikation und Motivation zu erreichen können die Bürgerinnen und Bürger sich an der Gesellschaft mit stillen Anteilen beteiligen. Für jeden Bürger besteht die Möglichkeit, durch die Zeichnung von Anteilen, Miteigentümer zu werden.
        </p>

        <p>
            Mit dem Stichtag 1. November 2014 hat die Dorfladen UG 96 Mitglieder, die insgesamt 24.000 € gezeichnet haben. Damit ist ein wichtiger Grundstock zur finanziellen Absicherung gebildet.
        </p>

        <p>
            Auch Sie können Mitglied werden und uns so nachhaltig unterstützen. Hierzu können Sie hier die Beitrittserklärung herunterladen und sich hier über den Gesellschaftsvertrag der Dorfladen Grohnde UG informieren.
        </p>

        <p>
            Mit Ihrer Hilfe wird aus einer guten Idee ein nachhaltiger Beitrag zur Sicherung des Dorfes Grohnde und ein erster Schritt zur Sicherung des Selbstverständnisses unserer Gemeinde insgesamt. Die Dörfer tragen das Gemeinwohl in besonderem Maße und brauchen eine Weiterentwicklung als Wohn- und Lebensstandorte.
        </p>

        <h4>Gesellschafter und Geschäftsführer</h2>
        <p>
            Als rechtliche Vertreter der Unternehmergesellschaft bemühen wir uns um einen reibungslosen Ablauf im Laden, im Cafe und rund um die Sozial- und Dienstleistungen, für ein höchst mögliches Maß an Kundenzufriedenheit und die Umsetzung der Ziele der Unternehmergesellschaft insgesamt.
        </p>

        <h4>Beirat</h2>
        <p>
            Als ehrenamtlicher Beirat kontrollieren und unterstützen wir den Vorstand bei seinen Aufgaben. Wir vertreten die Interessen der Unternehmergesellschaft und achten auf die Umsetzung der Ziele. Insbesondere verfolgen wir die wirtschaftliche Entwicklung und den langfristigen Erhalt des Gemeinschaftswerkes.
        </p>
        <br>
        <br>
    </div>
</section>
