{{ $dorfladen := .Page.Params.dorfladen }}

<!-- Section Content -->
<section class="content">
    <div class="container">
        <div class="inner-page">
            <div class="find_team clearfix">
                <div class="row">

                    <!-- Angebote Dorfladen -->
                    <div class="col-xs-12">

                        <!-- Abfrage für Überschrift, ob Angebote vorhanden sind -->
                        {{ if eq $dorfladen.vorhanden "ja" }}
                            <h2 class="well" style="text-align: center;">Die neuen Angebote des Dorfladens für Sie</h2>
                        {{ else }}
                            <h2 class="well" style="text-align: center;">Die neuen Angebote des Dorfladens finden Sie hier in Kürze!</h2>
                        {{ end }}

                        <!-- Abfrage für Dorfladen-Angebote, ob sie vorhanden sind -->
                        {{ if eq $dorfladen.vorhanden "ja" }}

                            <img class="img-responsive bilder-schulte" src="/angebote/dorfladen/dorfladen-grohnde_{{ $dorfladen.kw }}_22-1.jpg" alt="Angebote Dorfladen in Grohnde">
                            <br>
                            <img class="img-responsive bilder-schulte" src="/angebote/dorfladen/dorfladen-grohnde_{{ $dorfladen.kw }}_22-2.jpg" alt="Angebote Dorfladen in Grohnde">
                            <br>
                            <img class="img-responsive bilder-schulte" src="/angebote/dorfladen/dorfladen-grohnde_{{ $dorfladen.kw }}_22-3.jpg" alt="Angebote Dorfladen in Grohnde">
                            <br>
                            <img id="seite-vier" class="img-responsive bilder-schulte" src="/angebote/dorfladen/dorfladen-grohnde_{{ $dorfladen.kw }}_22-4.jpg" alt="Angebote Dorfladen in Grohnde">
                            <div id="schulte" class="text-center download-button">
                                <a href="/angebote/dorfladen/dorfladen-grohnde_{{ $dorfladen.kw }}_22.pdf">
                                    <div class="btn btn-primary">Dieses Angebot als PDF-Datei runterladen</div>
                                </a>
                            </div>
                        {{ end }}

                        <br>
                        <hr>
                        <br>

                    </div>

                </div>

                <div class="padding-bottom-40 clearfix"></div>

            </div>
        </div>
    </div>
</div>
</section>
